node-red-flow.json
[{"id":"fce05258.1a1f9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3db730b5.ab61d","type":"coap in","z":"fce05258.1a1f9","method":"GET","name":"Divisor","server":"a06e06e7.bbf2c8","url":"/divisor","x":450,"y":220,"wires":[["7752e5db.e98df4"]]},{"id":"1ec3042c.048904","type":"function","z":"fce05258.1a1f9","name":"setDivisor","func":"global.set(\"divisor\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[[]]},{"id":"7752e5db.e98df4","type":"function","z":"fce05258.1a1f9","name":"getDivisor","func":"msg.res.end(global.get(\"divisor\"));\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[[]]},{"id":"eb002e29.e64628","type":"ui_text_input","z":"fce05258.1a1f9","name":"Divisor","label":"Divisor","tooltip":"","group":"14dbb294.060785","order":0,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":450,"y":280,"wires":[["1ec3042c.048904"]]},{"id":"52ff4903.b56eb8","type":"coap in","z":"fce05258.1a1f9","method":"GET","name":"Time","server":"a06e06e7.bbf2c8","url":"/time","x":750,"y":220,"wires":[["a8b3070f.91ede","488a42a5.85b32c"]]},{"id":"a8b3070f.91ede","type":"function","z":"fce05258.1a1f9","name":"getTime","func":"const now = new Date()  \nconst secondsSinceEpoch = Math.round(now.getTime() / 1000)  \nmsg.res.end(secondsSinceEpoch.toString());\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":220,"wires":[[]]},{"id":"8ae75f55.b2e298","type":"coap in","z":"fce05258.1a1f9","method":"PUT","name":"Data","server":"a06e06e7.bbf2c8","url":"/data","x":450,"y":380,"wires":[["768a103d.dca5f"]]},{"id":"73a1ded7.9b0a88","type":"file","z":"fce05258.1a1f9","name":"","filename":"/home/bananapi/data.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":850,"y":380,"wires":[[]]},{"id":"768a103d.dca5f","type":"function","z":"fce05258.1a1f9","name":"Convert to File","func":"msg.payload = String.fromCharCode.apply(null, msg.req.payload)\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["73a1ded7.9b0a88"]]},{"id":"78b2ea9a.5553ec","type":"file in","z":"fce05258.1a1f9","name":"","filename":"/home/bananapi/data.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":690,"y":500,"wires":[["e27cd0c3.1a884","8e4eb627.a476f"]]},{"id":"202ddb0d.c7f39c","type":"watch","z":"fce05258.1a1f9","name":"Data watcher","files":"/home/bananapi/data.txt","recursive":"","x":470,"y":500,"wires":[["78b2ea9a.5553ec"]]},{"id":"3df85520.c20d7a","type":"inject","z":"fce05258.1a1f9","name":"Debug Trigger","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":540,"wires":[["78b2ea9a.5553ec"]]},{"id":"4e415a98.5c0754","type":"join","z":"fce05258.1a1f9","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":460,"wires":[["60b1e50.c10369c"]]},{"id":"60b1e50.c10369c","type":"function","z":"fce05258.1a1f9","name":"setArray","func":"msg.payload = [{\n  \"series\": [\"A\"],\n  \"data\": [msg.payload],\n  \"labels\": [\"\"]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":460,"wires":[["6b582d68.1fdaec"]]},{"id":"6b582d68.1fdaec","type":"ui_chart","z":"fce05258.1a1f9","name":"","group":"14dbb294.060785","order":1,"width":"0","height":"0","label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1320,"y":460,"wires":[[]]},{"id":"8e4eb627.a476f","type":"function","z":"fce05258.1a1f9","name":"parseData","func":"var parts = msg.payload.split(/,/).map(function(v) { return parseFloat(v)});\ndateObj = new Date(parts[0] * 1000); \nutcString = dateObj.toUTCString(); \nmsg.payload = {x:utcString,y:parts[2]};\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":540,"wires":[["76d593b4.b0734c"]]},{"id":"76d593b4.b0734c","type":"join","z":"fce05258.1a1f9","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":540,"wires":[["fdb733d2.70c078"]]},{"id":"fdb733d2.70c078","type":"function","z":"fce05258.1a1f9","name":"setArray","func":"msg.payload = [{\n  \"series\": [\"A\"],\n  \"data\": [msg.payload],\n  \"labels\": [\"\"]\n}];\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":540,"wires":[["c6371e22.239958"]]},{"id":"c6371e22.239958","type":"ui_chart","z":"fce05258.1a1f9","name":"","group":"14dbb294.060785","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1330,"y":540,"wires":[[]]},{"id":"e27cd0c3.1a884","type":"function","z":"fce05258.1a1f9","name":"parseData","func":"var parts = msg.payload.split(/,/).map(function(v) { return parseFloat(v)});\ndateObj = new Date(parts[0] * 1000); \nutcString = dateObj.toUTCString(); \nmsg.payload = {x:utcString,y:parts[1]};\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":460,"wires":[["4e415a98.5c0754"]]},{"id":"db76c6f5.cdece","type":"coap in","z":"fce05258.1a1f9","method":"PUT","name":"Data","server":"a06e06e7.bbf2c8","url":"/test","x":450,"y":160,"wires":[["7621f223.a5ea2c"]]},{"id":"7621f223.a5ea2c","type":"debug","z":"fce05258.1a1f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":160,"wires":[]},{"id":"c951f824.a06c28","type":"inject","z":"fce05258.1a1f9","name":"Default Divisor","topic":"","payload":"18","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":280,"y":280,"wires":[["eb002e29.e64628"]]},{"id":"7451f2db.3a4134","type":"ui_switch","z":"fce05258.1a1f9","name":"","label":"M5StickC has connected","tooltip":"","group":"14dbb294.060785","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1110,"y":160,"wires":[[]]},{"id":"488a42a5.85b32c","type":"trigger","z":"fce05258.1a1f9","op1":"true","op2":"true","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":910,"y":160,"wires":[["7451f2db.3a4134"]]},{"id":"a06e06e7.bbf2c8","type":"coap-server","z":"","name":"Test","port":"5683"},{"id":"14dbb294.060785","type":"ui_group","z":"","name":"Default","tab":"58e7ccf7.44a4f4","disp":false,"width":"18","collapse":false},{"id":"58e7ccf7.44a4f4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]